server/home/pi/node-red/flows/PingMonitor.json
[{"id":"ea7e2311.1581e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":383,"y":300,"z":"fff6c1e4.00094","wires":[]},{"id":"e315c9ed.1cea38","type":"ping","name":"lagfolk.de PING","host":"lagfolk.de","timer":"200000","x":180,"y":138,"z":"fff6c1e4.00094","wires":[["ea7e2311.1581e","ef4d8943.10b278","c94f7bbc.36b088"]]},{"id":"ef4d8943.10b278","type":"switch","name":"Monitor","property":"payload","rules":[{"t":"lte","v":30,"v2":0},{"t":"lte","v":60,"v2":0},{"t":"gt","v":120,"v2":0}],"checkall":"false","outputs":3,"x":384,"y":80,"z":"fff6c1e4.00094","wires":[["a3164409.5ce9b8"],["b055a847.4faa58"],["bd2bd494.42d428","206c123c.df93ee"]]},{"id":"467d6e63.b9829","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":805,"y":38,"z":"fff6c1e4.00094","wires":[]},{"id":"a3164409.5ce9b8","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":673,"y":38,"z":"fff6c1e4.00094","wires":[["467d6e63.b9829"]]},{"id":"f8fd35f6.0702c8","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":804,"y":80,"z":"fff6c1e4.00094","wires":[]},{"id":"b055a847.4faa58","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":671,"y":80,"z":"fff6c1e4.00094","wires":[["f8fd35f6.0702c8"]]},{"id":"a8a1138f.575ef","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":803,"y":125,"z":"fff6c1e4.00094","wires":[]},{"id":"bd2bd494.42d428","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":669,"y":125,"z":"fff6c1e4.00094","wires":[["a8a1138f.575ef"]]},{"id":"c94f7bbc.36b088","type":"delay","name":"","pauseType":"delay","timeout":"1800","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":346,"z":"fff6c1e4.00094","wires":[["58ae6042.a751a"]]},{"id":"58ae6042.a751a","type":"function","name":"Convert","func":"msg.payload = 0;\nreturn msg;","outputs":1,"x":812,"y":346,"z":"fff6c1e4.00094","wires":[["f80026fb.07ffd8","10b96340.ef469d","ea3fcb3d.15c038"]]},{"id":"f80026fb.07ffd8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":975,"y":290,"z":"fff6c1e4.00094","wires":[]},{"id":"10b96340.ef469d","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":973,"y":332,"z":"fff6c1e4.00094","wires":[]},{"id":"ea3fcb3d.15c038","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":970,"y":377,"z":"fff6c1e4.00094","wires":[]},{"id":"1ab3cebc.e54c31","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":975,"y":427,"z":"fff6c1e4.00094","wires":[]},{"id":"c89d9284.37627","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":803,"y":166,"z":"fff6c1e4.00094","wires":[]},{"id":"a8cb2879.5734d8","type":"file","name":"ping.lagfolg-de.log","filename":"ping.lagfolg-de.log","appendNewline":true,"overwriteFile":false,"x":705,"y":282,"z":"fff6c1e4.00094","wires":[]},{"id":"4475e7ce.bb8a18","type":"function","name":"1","func":"\nmsg.payload = 2048;\nreturn msg;","outputs":1,"x":669,"y":166,"z":"fff6c1e4.00094","wires":[["c89d9284.37627"]]},{"id":"564c0d3f.a9b3f4","type":"template","name":"PING","field":"payload","template":"PING Monitor\n----------------------------------------\n\nlagfolk.de hat einen kritischen Wert\nüberschritten: {{payload}}!\n\nEs ist Zeit einen Blick darauf zu werfen!","x":671,"y":216,"z":"fff6c1e4.00094","wires":[["ee7d5c4b.1182a"]]},{"id":"ee7d5c4b.1182a","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"vergissberlin@googlemail.com","dname":"Gmail","x":805,"y":216,"z":"fff6c1e4.00094","wires":[]},{"id":"206c123c.df93ee","type":"delay","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":497,"y":191,"z":"fff6c1e4.00094","wires":[["564c0d3f.a9b3f4","a8cb2879.5734d8"]]}]