server/home/pi/node-red/flows/Soccer.json
[{"id":"246dc504.db923a","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"nr_soccer"},{"id":"2a495ba5.d5b6a4","type":"rpi-pibrella in","name":"scoreOne","pin":"In A","x":165,"y":187,"z":"f8613267.079ed","wires":[["1f947594.e06b8a","6f5f84ec.90a07c"]]},{"id":"6e72c285.918d3c","type":"rpi-pibrella in","name":"scoreTwo","pin":"In B","x":166,"y":303,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123","a5d24abd.5a2db8"]]},{"id":"a447a391.5bb86","type":"function","name":"One","func":"msg.totalOne = msg.payload + 1;\ncontext.global.undo = { 'totalOne': msg.payload };\n\nreturn msg;","outputs":"1","x":692,"y":187,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"a1cc9c15.5e336","type":"inject","name":"Tor","topic":"","payload":"scoreOne","payloadType":"string","repeat":"8","crontab":"","once":true,"x":161,"y":123,"z":"f8613267.079ed","wires":[["1f947594.e06b8a","6f5f84ec.90a07c"]]},{"id":"296332c7.d69cce","type":"debug","name":"","active":true,"console":"false","complete":"true","x":979,"y":186,"z":"f8613267.079ed","wires":[]},{"id":"50a01bab.af5fe4","type":"function","name":"Two","func":"msg.totalTwo = msg.payload + 1;\ncontext.global.undo = { 'totalTwo': msg.payload };\n\n\nreturn msg;","outputs":"1","x":689,"y":306,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"f82aa5c8.07d558","type":"inject","name":"Tor","topic":"","payload":"","payloadType":"none","repeat":"120","crontab":"","once":true,"x":167,"y":363,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123","a5d24abd.5a2db8"]]},{"id":"62822d.ff9d7dd4","type":"firebase modify","name":"","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer","child":"","method":"update","x":1002,"y":251,"z":"f8613267.079ed","wires":[]},{"id":"1e98a742.e16759","type":"function","name":"Merge","func":"if(msg.totalOne) {\n msg.payload = {\"totalOne\": msg.totalOne}\n}\nif(msg.totalTwo) {\n msg.payload = {\"totalTwo\": msg.totalTwo}\n}\n\nreturn msg;\n","outputs":"1","x":828,"y":250,"z":"f8613267.079ed","wires":[["296332c7.d69cce","62822d.ff9d7dd4"]]},{"id":"1f947594.e06b8a","type":"firebase query","name":"totalOne","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/totalOne","child":"","x":491,"y":187,"z":"f8613267.079ed","wires":[["a447a391.5bb86","65cd7eff.9a328"]]},{"id":"1d8edcfa.e27123","type":"firebase query","name":"totalTwo","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/totalTwo","child":"","x":491,"y":303,"z":"f8613267.079ed","wires":[["50a01bab.af5fe4","65cd7eff.9a328"]]},{"id":"65cd7eff.9a328","type":"debug","name":"","active":false,"console":"false","complete":"false","x":673,"y":247,"z":"f8613267.079ed","wires":[]},{"id":"bb05ed54.44fa1","type":"comment","name":"NR Soccer","info":"todo:\n- additional data in database\n\t- weather\n\t- wind\n\t- sun\n- Events\n\t- hit count/1000\n\t- Mounsterkill","x":133,"y":37,"z":"f8613267.079ed","wires":[]},{"id":"e4612fe0.1b9ed","type":"rpi-pibrella in","name":"undo","pin":"Red Button","x":202,"y":517,"z":"f8613267.079ed","wires":[["6fd83925.9027c8","ded03d91.212fc"]]},{"id":"b4e891c.f4b177","type":"inject","name":"","topic":"undo","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":203,"y":583,"z":"f8613267.079ed","wires":[["6fd83925.9027c8","ded03d91.212fc"]]},{"id":"6fd83925.9027c8","type":"function","name":"undo function","func":"if(typeof context.global.undo === 'object') {\n\tmsg.payload = context.global.undo;\n\tdelete context.global.undo;\n\treturn msg;\n}\n","outputs":1,"x":404,"y":517,"z":"f8613267.079ed","wires":[["8fb9d6d4.704628","88bf6f75.77409"]]},{"id":"8fb9d6d4.704628","type":"debug","name":"","active":false,"console":"false","complete":"false","x":615,"y":469,"z":"f8613267.079ed","wires":[]},{"id":"bd22cd89.42dd3","type":"comment","name":"Undo","info":"","x":138,"y":446,"z":"f8613267.079ed","wires":[]},{"id":"88bf6f75.77409","type":"firebase modify","name":"","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer","child":"","method":"update","x":643,"y":517,"z":"f8613267.079ed","wires":[]},{"id":"26152a67.d9ead6","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":493,"y":246,"z":"f8613267.079ed","wires":[["65cd7eff.9a328"]]},{"id":"ded03d91.212fc","type":"function","name":"undo mysql","func":"// delete last inserted id\nmsg.topic = 'DELETE FROM nr_soccer.score WHERE score.id=LAST_INSERT_ID();';\n\nreturn msg;","outputs":1,"x":400,"y":583,"z":"f8613267.079ed","wires":[["147b70a9.eb848f"]]},{"id":"5c9f0a89.a360f4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":778,"y":583,"z":"f8613267.079ed","wires":[]},{"id":"6f5f84ec.90a07c","type":"function","name":"mysql one","func":"// insert score\nmsg.topic = 'INSERT INTO `nr_soccer`.`score` (`type`, `datetime`) VALUES (\"scoreOne\", NOW());';\n\nreturn msg;","outputs":1,"x":348,"y":220,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"a5d24abd.5a2db8","type":"function","name":"mysql two","func":"// insert score\nmsg.topic = 'INSERT INTO `nr_soccer`.`score` (`type`, `datetime`) VALUES (\"scoreTwo\", NOW());';\n\nreturn msg;","outputs":1,"x":346,"y":265,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"147b70a9.eb848f","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":615,"y":583,"z":"f8613267.079ed","wires":[["5c9f0a89.a360f4"]]},{"id":"5c1cf129.a3e31","type":"rpi-gpio in","name":"GPIO14","intype":"up","pin":"8","x":357,"y":811,"z":"f8613267.079ed","wires":[["d223b5a8.2ddc48","ea054941.15fab8","cad88caf.35277","cf29a059.30d66","d3d04868.2c2fb8"]]},{"id":"d3d04868.2c2fb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":575,"y":811,"z":"f8613267.079ed","wires":[]},{"id":"d223b5a8.2ddc48","type":"rpi-gpio out","name":"","pin":"12","x":578,"y":763,"z":"f8613267.079ed","wires":[]},{"id":"5c2e7388.a3d18c","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":205,"y":739,"z":"f8613267.079ed","wires":[["f97a6019.0685a"]]},{"id":"ea054941.15fab8","type":"rpi-gpio out","name":"","pin":"18","x":579,"y":718,"z":"f8613267.079ed","wires":[]},{"id":"cad88caf.35277","type":"rpi-gpio out","name":"","pin":"16","x":576,"y":858,"z":"f8613267.079ed","wires":[]},{"id":"cf29a059.30d66","type":"rpi-gpio out","name":"","pin":"11","x":575,"y":900,"z":"f8613267.079ed","wires":[]},{"id":"f97a6019.0685a","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"50","extend":"false","units":"ms","name":"","x":363,"y":739,"z":"f8613267.079ed","wires":[["d223b5a8.2ddc48"]]},{"id":"b0c72659.4f38d8","type":"tail","name":"black","split":false,"filename":"/home/pi/data/black.csv","x":358,"y":971,"z":"f8613267.079ed","wires":[["341f04a5.cbe0fc"]]},{"id":"341f04a5.cbe0fc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":574,"y":971,"z":"f8613267.079ed","wires":[]}]