server/home/pi/node-red/flows/Sunrise.json
[{"id":"d3440e3.f2cbbf","type":"sunrise","name":"","lat":"51.31859","lon":"12.37544","start":"sunrise","end":"sunset","x":255.5,"y":72.71427917480469,"z":"31103c99.ceefc4","wires":[["d594db59.2a6b28"],[]]},{"id":"d594db59.2a6b28","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0},{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":2,"x":433,"y":66,"z":"31103c99.ceefc4","wires":[["1bbb8cd7.e44473"],[]]},{"id":"1bbb8cd7.e44473","type":"exec","command":"df -hl | awk '/^\\/dev\\/root/ { sum+=$5 } END { print sum }'","append":"","useSpawn":"","name":"FreeSpace","x":594,"y":60,"z":"31103c99.ceefc4","wires":[["146c19b0.eb93e6"],[],[]]},{"id":"612326d6.9edcd8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":935,"y":264,"z":"31103c99.ceefc4","wires":[]},{"id":"5765f266.a89a0c","type":"template","name":"Good Night","field":"payload","template":"Ein langer Tag geht vorbei. Die Systeme laufen innerhalb normaler Parameter.\nDie Festeplatte ist mit {{payload}}% in Benutzung.\n\nFalles etwas ungewöhliches passiert, weck ich Dich.\nGute Nacht!","x":938,"y":47,"z":"31103c99.ceefc4","wires":[[]]},{"id":"146c19b0.eb93e6","type":"function","name":"Merge","func":"msg.space = msg.payload;\nreturn msg;","outputs":1,"x":765,"y":47,"z":"31103c99.ceefc4","wires":[["5765f266.a89a0c"]]},{"id":"3b654679.c49aba","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":261,"y":264,"z":"31103c99.ceefc4","wires":[["8451857d.7bae78"]]},{"id":"8451857d.7bae78","type":"http request","name":"RSS","method":"GET","url":"http://aphorismen-archiv.de/rss.xml","x":423,"y":264,"z":"31103c99.ceefc4","wires":[["401ccc95.bfe334","c048f181.3fb71"]]},{"id":"401ccc95.bfe334","type":"function","name":"XML ","func":"// msg.payload = msg.payload.rss.channel[0].description;\n\nreturn msg;","outputs":1,"x":585,"y":264,"z":"31103c99.ceefc4","wires":[["5f2fa131.a0d06"]]},{"id":"4c62a807.b39d58","type":"exec","command":"/opt/vc/bin/vcgencmd measure_temp","append":"","useSpawn":"","name":"CPU Temp","x":252,"y":168,"z":"31103c99.ceefc4","wires":[[],[],[]]},{"id":"c048f181.3fb71","type":"debug","name":"","active":false,"console":"false","complete":"false","x":584,"y":321,"z":"31103c99.ceefc4","wires":[]},{"id":"5f2fa131.a0d06","type":"json","name":"","x":759,"y":264,"z":"31103c99.ceefc4","wires":[["612326d6.9edcd8"]]}]