flows_raspberrypi.json
[{"type":"tab","id":"fff6c1e4.00094","label":"PingMonitor"},{"type":"tab","id":"7f6b6eac.80949","label":"Music"},{"type":"tab","id":"31103c99.ceefc4","label":"Sunrise"},{"type":"tab","id":"f8613267.079ed","label":"Soccer"},{"id":"fcb2c0e8.034d4","type":"twitter-credentials","screen_name":"@vergissberlin"},{"id":"246dc504.db923a","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"nr_soccer"},{"id":"ea7e2311.1581e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":383,"y":300,"z":"fff6c1e4.00094","wires":[]},{"id":"e315c9ed.1cea38","type":"ping","name":"lagfolk.de PING","host":"lagfolk.de","timer":"2","x":180,"y":138,"z":"fff6c1e4.00094","wires":[["ea7e2311.1581e","ef4d8943.10b278","c94f7bbc.36b088"]]},{"id":"ef4d8943.10b278","type":"switch","name":"Monitor","property":"payload","rules":[{"t":"lte","v":30,"v2":0},{"t":"lte","v":60,"v2":0},{"t":"gt","v":120,"v2":0}],"checkall":"false","outputs":3,"x":384,"y":80,"z":"fff6c1e4.00094","wires":[["a3164409.5ce9b8"],["b055a847.4faa58"],["bd2bd494.42d428","206c123c.df93ee"]]},{"id":"467d6e63.b9829","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":805,"y":38,"z":"fff6c1e4.00094","wires":[]},{"id":"a3164409.5ce9b8","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":673,"y":38,"z":"fff6c1e4.00094","wires":[["467d6e63.b9829"]]},{"id":"f8fd35f6.0702c8","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":804,"y":80,"z":"fff6c1e4.00094","wires":[]},{"id":"b055a847.4faa58","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":671,"y":80,"z":"fff6c1e4.00094","wires":[["f8fd35f6.0702c8"]]},{"id":"a8a1138f.575ef","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":803,"y":125,"z":"fff6c1e4.00094","wires":[]},{"id":"bd2bd494.42d428","type":"function","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":669,"y":125,"z":"fff6c1e4.00094","wires":[["a8a1138f.575ef"]]},{"id":"c94f7bbc.36b088","type":"delay","name":"","pauseType":"delay","timeout":"1800","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":346,"z":"fff6c1e4.00094","wires":[["58ae6042.a751a"]]},{"id":"58ae6042.a751a","type":"function","name":"Convert","func":"msg.payload = 0;\nreturn msg;","outputs":1,"x":812,"y":346,"z":"fff6c1e4.00094","wires":[["f80026fb.07ffd8","10b96340.ef469d","ea3fcb3d.15c038"]]},{"id":"f80026fb.07ffd8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":975,"y":290,"z":"fff6c1e4.00094","wires":[]},{"id":"10b96340.ef469d","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":973,"y":332,"z":"fff6c1e4.00094","wires":[]},{"id":"ea3fcb3d.15c038","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":970,"y":377,"z":"fff6c1e4.00094","wires":[]},{"id":"1ab3cebc.e54c31","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":975,"y":427,"z":"fff6c1e4.00094","wires":[]},{"id":"c89d9284.37627","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":803,"y":166,"z":"fff6c1e4.00094","wires":[]},{"id":"a8cb2879.5734d8","type":"file","name":"ping.lagfolg-de.log","filename":"ping.lagfolg-de.log","appendNewline":true,"overwriteFile":false,"x":705,"y":282,"z":"fff6c1e4.00094","wires":[]},{"id":"4475e7ce.bb8a18","type":"function","name":"1","func":"\nmsg.payload = 2048;\nreturn msg;","outputs":1,"x":669,"y":166,"z":"fff6c1e4.00094","wires":[["c89d9284.37627"]]},{"id":"564c0d3f.a9b3f4","type":"template","name":"PING","field":"payload","template":"PING Monitor\n----------------------------------------\n\nlagfolk.de hat einen kritischen Wert\nüberschritten: {{payload}}!\n\nEs ist Zeit einen Blick darauf zu werfen!","x":671,"y":216,"z":"fff6c1e4.00094","wires":[["ee7d5c4b.1182a"]]},{"id":"ee7d5c4b.1182a","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"vergissberlin@googlemail.com","dname":"Gmail","x":805,"y":216,"z":"fff6c1e4.00094","wires":[]},{"id":"206c123c.df93ee","type":"delay","name":"Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":497,"y":191,"z":"fff6c1e4.00094","wires":[["564c0d3f.a9b3f4","a8cb2879.5734d8"]]},{"id":"fd952ed5.026ad","type":"rpi-pibrella out","name":"","pin":"Buzzer ","x":655.1428833007812,"y":87.28570556640625,"z":"7f6b6eac.80949","wires":[]},{"id":"8bfb43cb.7404c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.28572082519531,"y":142.14285278320312,"z":"7f6b6eac.80949","wires":[["edcf18ae.1230e8"]]},{"id":"edcf18ae.1230e8","type":"function","name":"Sound","func":"msg.payload = 1;\nreturn msg;\n","outputs":1,"x":465.71429443359375,"y":142.7142791748047,"z":"7f6b6eac.80949","wires":[["ab76259c.5489d8","a0d128de.5f2ed8","fd952ed5.026ad"]]},{"id":"ab76259c.5489d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":654.8571395874023,"y":179.9999942779541,"z":"7f6b6eac.80949","wires":[]},{"id":"ef9a5a21.1065a8","type":"debug","name":"","active":false,"x":656.857177734375,"y":418,"z":"7f6b6eac.80949","wires":[]},{"id":"c13dce64.3ec23","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"1440","crontab":"","once":false,"x":128.85714721679688,"y":340,"z":"7f6b6eac.80949","wires":[["1bb16711.e44e99"]]},{"id":"65eb19db.9a14e8","type":"rpi-gpio out","name":"","pin":"15","x":657.6904907226562,"y":378.8333435058594,"z":"7f6b6eac.80949","wires":[]},{"id":"d3440e3.f2cbbf","type":"sunrise","name":"","lat":"51.31859","lon":"12.37544","start":"sunrise","end":"sunset","x":255.5,"y":72.71427917480469,"z":"31103c99.ceefc4","wires":[["d594db59.2a6b28"],[]]},{"id":"225e1856.dda1e8","type":"rpi-gpio out","name":"","pin":"16","x":658,"y":340,"z":"7f6b6eac.80949","wires":[]},{"id":"2d0585da.d2fa7a","type":"rpi-gpio out","name":"","pin":"18","x":657,"y":302,"z":"7f6b6eac.80949","wires":[]},{"id":"7b7a9424.84856c","type":"rpi-gpio out","name":"","pin":"22","x":656,"y":264,"z":"7f6b6eac.80949","wires":[]},{"id":"d594db59.2a6b28","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0},{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":2,"x":433,"y":66,"z":"31103c99.ceefc4","wires":[["1bbb8cd7.e44473"],[]]},{"id":"1bbb8cd7.e44473","type":"exec","command":"df -hl | awk '/^\\/dev\\/root/ { sum+=$5 } END { print sum }'","append":"","useSpawn":"","name":"FreeSpace","x":594,"y":60,"z":"31103c99.ceefc4","wires":[["146c19b0.eb93e6"],[],[]]},{"id":"612326d6.9edcd8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":935,"y":264,"z":"31103c99.ceefc4","wires":[]},{"id":"5765f266.a89a0c","type":"template","name":"Good Night","field":"payload","template":"Ein langer Tag geht vorbei. Die Systeme laufen innerhalb normaler Parameter.\nDie Festeplatte ist mit {{payload}}% in Benutzung.\n\nFalles etwas ungewöhliches passiert, weck ich Dich.\nGute Nacht!","x":938,"y":47,"z":"31103c99.ceefc4","wires":[[]]},{"id":"2a495ba5.d5b6a4","type":"rpi-pibrella in","name":"Black","pin":"In A","x":165,"y":187,"z":"f8613267.079ed","wires":[["1f947594.e06b8a","6f5f84ec.90a07c"]]},{"id":"6e72c285.918d3c","type":"rpi-pibrella in","name":"Gray","pin":"In B","x":166,"y":303,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123","a5d24abd.5a2db8"]]},{"id":"a447a391.5bb86","type":"function","name":"Black","func":"msg.black = msg.payload + 1;\ncontext.global.undo = { 'black': msg.payload };\n\nreturn msg;","outputs":"1","x":692,"y":187,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"146c19b0.eb93e6","type":"function","name":"Merge","func":"msg.space = msg.payload;\nreturn msg;","outputs":1,"x":765,"y":47,"z":"31103c99.ceefc4","wires":[["5765f266.a89a0c"]]},{"id":"3b654679.c49aba","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":261,"y":264,"z":"31103c99.ceefc4","wires":[["8451857d.7bae78"]]},{"id":"8451857d.7bae78","type":"http request","name":"RSS","method":"GET","url":"http://aphorismen-archiv.de/rss.xml","x":423,"y":264,"z":"31103c99.ceefc4","wires":[["401ccc95.bfe334","c048f181.3fb71"]]},{"id":"401ccc95.bfe334","type":"function","name":"XML ","func":"// msg.payload = msg.payload.rss.channel[0].description;\n\nreturn msg;","outputs":1,"x":585,"y":264,"z":"31103c99.ceefc4","wires":[["5f2fa131.a0d06"]]},{"id":"a1cc9c15.5e336","type":"inject","name":"Tor","topic":"","payload":"black","payloadType":"string","repeat":"60","crontab":"","once":true,"x":161,"y":123,"z":"f8613267.079ed","wires":[["1f947594.e06b8a","6f5f84ec.90a07c"]]},{"id":"296332c7.d69cce","type":"debug","name":"","active":false,"console":"false","complete":"true","x":979,"y":186,"z":"f8613267.079ed","wires":[]},{"id":"50a01bab.af5fe4","type":"function","name":"Gray","func":"msg.gray = msg.payload + 1;\ncontext.global.undo = { 'gray': msg.payload };\n\n\nreturn msg;","outputs":"1","x":689,"y":306,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"f82aa5c8.07d558","type":"inject","name":"Tor","topic":"","payload":"","payloadType":"none","repeat":"120","crontab":"","once":true,"x":167,"y":363,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123","a5d24abd.5a2db8"]]},{"id":"62822d.ff9d7dd4","type":"firebase modify","name":"","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer","child":"","method":"update","x":1002,"y":251,"z":"f8613267.079ed","wires":[]},{"id":"1e98a742.e16759","type":"function","name":"Merge","func":"if(msg.black) {\n msg.payload = {\"black\": msg.black}\n}\nif(msg.gray) {\n msg.payload = {\"gray\": msg.gray}\n}\n\nreturn msg;\n","outputs":"1","x":828,"y":250,"z":"f8613267.079ed","wires":[["296332c7.d69cce","62822d.ff9d7dd4"]]},{"id":"1f947594.e06b8a","type":"firebase query","name":"Black","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/black","child":"","x":491,"y":187,"z":"f8613267.079ed","wires":[["a447a391.5bb86","65cd7eff.9a328"]]},{"id":"1d8edcfa.e27123","type":"firebase query","name":"Gray","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/gray","child":"","x":491,"y":303,"z":"f8613267.079ed","wires":[["50a01bab.af5fe4","65cd7eff.9a328"]]},{"id":"a0d128de.5f2ed8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":653,"y":133,"z":"7f6b6eac.80949","wires":[]},{"id":"4c62a807.b39d58","type":"exec","command":"/opt/vc/bin/vcgencmd measure_temp","append":"","useSpawn":"","name":"CPU Temp","x":252,"y":168,"z":"31103c99.ceefc4","wires":[[],[],[]]},{"id":"65cd7eff.9a328","type":"debug","name":"","active":false,"console":"false","complete":"false","x":673,"y":247,"z":"f8613267.079ed","wires":[]},{"id":"bb05ed54.44fa1","type":"comment","name":"NR Soccer","info":"todo:\n- additional data in database\n\t- weather\n\t- wind\n\t- sun\n- Events\n\t- hit count/1000\n\t- Mounsterkill","x":133,"y":37,"z":"f8613267.079ed","wires":[]},{"id":"e4612fe0.1b9ed","type":"rpi-pibrella in","name":"undo","pin":"Red Button","x":202,"y":517,"z":"f8613267.079ed","wires":[["6fd83925.9027c8","ded03d91.212fc"]]},{"id":"b4e891c.f4b177","type":"inject","name":"","topic":"undo","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":203,"y":583,"z":"f8613267.079ed","wires":[["6fd83925.9027c8","ded03d91.212fc"]]},{"id":"6fd83925.9027c8","type":"function","name":"undo function","func":"if(typeof context.global.undo === 'object') {\n\tmsg.payload = context.global.undo;\n\tdelete context.global.undo;\n\treturn msg;\n}\n","outputs":1,"x":404,"y":517,"z":"f8613267.079ed","wires":[["8fb9d6d4.704628","88bf6f75.77409"]]},{"id":"8fb9d6d4.704628","type":"debug","name":"","active":false,"console":"false","complete":"false","x":615,"y":469,"z":"f8613267.079ed","wires":[]},{"id":"bd22cd89.42dd3","type":"comment","name":"Undo","info":"","x":138,"y":446,"z":"f8613267.079ed","wires":[]},{"id":"88bf6f75.77409","type":"firebase modify","name":"","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer","child":"","method":"update","x":643,"y":517,"z":"f8613267.079ed","wires":[]},{"id":"c048f181.3fb71","type":"debug","name":"","active":false,"console":"false","complete":"false","x":584,"y":321,"z":"31103c99.ceefc4","wires":[]},{"id":"26152a67.d9ead6","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":493,"y":246,"z":"f8613267.079ed","wires":[["65cd7eff.9a328"]]},{"id":"5f2fa131.a0d06","type":"json","name":"","x":759,"y":264,"z":"31103c99.ceefc4","wires":[["612326d6.9edcd8"]]},{"id":"ded03d91.212fc","type":"function","name":"undo mysql","func":"// delete last inserted id\nmsg.topic = 'DELETE FROM nr_soccer.score WHERE score.id=LAST_INSERT_ID();';\n\nreturn msg;","outputs":1,"x":400,"y":583,"z":"f8613267.079ed","wires":[["147b70a9.eb848f"]]},{"id":"5c9f0a89.a360f4","type":"debug","name":"","active":false,"console":"false","complete":"false","x":778,"y":583,"z":"f8613267.079ed","wires":[]},{"id":"6f5f84ec.90a07c","type":"function","name":"mysql black","func":"// insert score\nmsg.topic = 'INSERT INTO `nr_soccer`.`score` (`type`, `datetime`) VALUES (\"black\", NOW());';\n\nreturn msg;","outputs":1,"x":348,"y":220,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"a5d24abd.5a2db8","type":"function","name":"mysql gray","func":"// insert score\nmsg.topic = 'INSERT INTO `nr_soccer`.`score` (`type`, `datetime`) VALUES (\"gray\", NOW());';\n\nreturn msg;","outputs":1,"x":346,"y":265,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"147b70a9.eb848f","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":615,"y":583,"z":"f8613267.079ed","wires":[["5c9f0a89.a360f4"]]},{"id":"5c1cf129.a3e31","type":"rpi-gpio in","name":"GPIO14","intype":"up","pin":"8","x":357,"y":811,"z":"f8613267.079ed","wires":[["d223b5a8.2ddc48","ea054941.15fab8","cad88caf.35277","cf29a059.30d66","d3d04868.2c2fb8"]]},{"id":"d3d04868.2c2fb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":575,"y":811,"z":"f8613267.079ed","wires":[]},{"id":"d223b5a8.2ddc48","type":"rpi-gpio out","name":"","pin":"12","x":578,"y":763,"z":"f8613267.079ed","wires":[]},{"id":"5c2e7388.a3d18c","type":"inject","name":"","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":205,"y":739,"z":"f8613267.079ed","wires":[["f97a6019.0685a"]]},{"id":"ea054941.15fab8","type":"rpi-gpio out","name":"","pin":"18","x":579,"y":718,"z":"f8613267.079ed","wires":[]},{"id":"cad88caf.35277","type":"rpi-gpio out","name":"","pin":"16","x":576,"y":858,"z":"f8613267.079ed","wires":[]},{"id":"cf29a059.30d66","type":"rpi-gpio out","name":"","pin":"11","x":575,"y":900,"z":"f8613267.079ed","wires":[]},{"id":"f97a6019.0685a","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"50","extend":"false","units":"ms","name":"","x":363,"y":739,"z":"f8613267.079ed","wires":[["d223b5a8.2ddc48"]]},{"id":"1bb16711.e44e99","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":"false","units":"s","name":"","x":411,"y":340,"z":"7f6b6eac.80949","wires":[["7b7a9424.84856c","2d0585da.d2fa7a","225e1856.dda1e8","65eb19db.9a14e8","ef9a5a21.1065a8"]]},{"id":"b0c72659.4f38d8","type":"tail","name":"black","split":false,"filename":"/home/pi/data/black.csv","x":358,"y":971,"z":"f8613267.079ed","wires":[["341f04a5.cbe0fc"]]},{"id":"341f04a5.cbe0fc","type":"debug","name":"","active":false,"console":"false","complete":"false","x":574,"y":971,"z":"f8613267.079ed","wires":[]}]