flows_raspberrypi.json
[{"type":"tab","id":"fff6c1e4.00094","label":"PingMonitor"},{"type":"tab","id":"7f6b6eac.80949","label":"Music"},{"type":"tab","id":"31103c99.ceefc4","label":"Sunrise"},{"type":"tab","id":"f8613267.079ed","label":"Soccer"},{"id":"fcb2c0e8.034d4","type":"twitter-credentials","screen_name":"@vergissberlin"},{"id":"ea7e2311.1581e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":383,"y":300,"z":"fff6c1e4.00094","wires":[]},{"id":"e315c9ed.1cea38","type":"ping","name":"lagfolk.de PING","host":"google.com","timer":"3600","x":180,"y":138,"z":"fff6c1e4.00094","wires":[["ea7e2311.1581e"]]},{"id":"ef4d8943.10b278","type":"switch","name":"Monitor","property":"payload","rules":[{"t":"lte","v":27,"v2":0},{"t":"lte","v":30,"v2":0},{"t":"gt","v":30,"v2":0}],"checkall":"false","outputs":3,"x":384,"y":80,"z":"fff6c1e4.00094","wires":[["a3164409.5ce9b8"],["b055a847.4faa58"],["bd2bd494.42d428","206c123c.df93ee"]]},{"id":"467d6e63.b9829","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":805,"y":38,"z":"fff6c1e4.00094","wires":[]},{"id":"a3164409.5ce9b8","type":"function","name":"","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":673,"y":38,"z":"fff6c1e4.00094","wires":[["467d6e63.b9829"]]},{"id":"f8fd35f6.0702c8","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":804,"y":80,"z":"fff6c1e4.00094","wires":[]},{"id":"b055a847.4faa58","type":"function","name":"","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":671,"y":80,"z":"fff6c1e4.00094","wires":[["f8fd35f6.0702c8"]]},{"id":"a8a1138f.575ef","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":803,"y":125,"z":"fff6c1e4.00094","wires":[]},{"id":"bd2bd494.42d428","type":"function","name":"","func":"msg.payload = 1\nreturn msg;","outputs":1,"x":669,"y":125,"z":"fff6c1e4.00094","wires":[["a8a1138f.575ef"]]},{"id":"c94f7bbc.36b088","type":"delay","name":"","pauseType":"delay","timeout":"1800","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":346,"z":"fff6c1e4.00094","wires":[["58ae6042.a751a"]]},{"id":"58ae6042.a751a","type":"function","name":"","func":"msg.payload = 0;\nreturn msg;","outputs":1,"x":812,"y":346,"z":"fff6c1e4.00094","wires":[["f80026fb.07ffd8","10b96340.ef469d","ea3fcb3d.15c038"]]},{"id":"f80026fb.07ffd8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":975,"y":290,"z":"fff6c1e4.00094","wires":[]},{"id":"10b96340.ef469d","type":"rpi-pibrella out","name":"Yellow","pin":"Amber LED","x":973,"y":332,"z":"fff6c1e4.00094","wires":[]},{"id":"ea3fcb3d.15c038","type":"rpi-pibrella out","name":"Red","pin":"Red LED","x":970,"y":377,"z":"fff6c1e4.00094","wires":[]},{"id":"1ab3cebc.e54c31","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":975,"y":427,"z":"fff6c1e4.00094","wires":[]},{"id":"c89d9284.37627","type":"rpi-pibrella out","name":"Buzz","pin":"Buzzer ","x":803,"y":166,"z":"fff6c1e4.00094","wires":[]},{"id":"a8cb2879.5734d8","type":"file","name":"ping.lagfolg-de.log","filename":"ping.lagfolg-de.log","appendNewline":true,"overwriteFile":false,"x":705,"y":282,"z":"fff6c1e4.00094","wires":[]},{"id":"4475e7ce.bb8a18","type":"function","name":"","func":"\nmsg.payload = 2048;\nreturn msg;","outputs":1,"x":669,"y":166,"z":"fff6c1e4.00094","wires":[["c89d9284.37627"]]},{"id":"564c0d3f.a9b3f4","type":"template","name":"PING","field":"payload","template":"PING Monitor\n----------------------------------------\n\nlagfolk.de hat einen kritischen Wert\nüberschritten: {{payload}}!\n\nEs ist Zeit einen Blick darauf zu werfen!","x":671,"y":216,"z":"fff6c1e4.00094","wires":[["ee7d5c4b.1182a"]]},{"id":"ee7d5c4b.1182a","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"vergissberlin@googlemail.com","dname":"Gmail","x":805,"y":216,"z":"fff6c1e4.00094","wires":[]},{"id":"206c123c.df93ee","type":"delay","name":"Limt","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":497,"y":191,"z":"fff6c1e4.00094","wires":[["564c0d3f.a9b3f4","a8cb2879.5734d8"]]},{"id":"fd952ed5.026ad","type":"rpi-pibrella out","name":"","pin":"Buzzer ","x":655.1428833007812,"y":87.28570556640625,"z":"7f6b6eac.80949","wires":[]},{"id":"8bfb43cb.7404c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.28572082519531,"y":142.14285278320312,"z":"7f6b6eac.80949","wires":[["edcf18ae.1230e8"]]},{"id":"edcf18ae.1230e8","type":"function","name":"Sound","func":"msg.payload = 1;\nreturn msg;\n","outputs":1,"x":465.71429443359375,"y":142.7142791748047,"z":"7f6b6eac.80949","wires":[["ab76259c.5489d8","a0d128de.5f2ed8","fd952ed5.026ad"]]},{"id":"ab76259c.5489d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":654.8571395874023,"y":179.9999942779541,"z":"7f6b6eac.80949","wires":[]},{"id":"ec507d9c.13af8","type":"function","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":424.8571472167969,"y":343,"z":"7f6b6eac.80949","wires":[["ef9a5a21.1065a8","65eb19db.9a14e8","2d0585da.d2fa7a","225e1856.dda1e8","7b7a9424.84856c","a0d128de.5f2ed8"]]},{"id":"ef9a5a21.1065a8","type":"debug","name":"","active":false,"x":639.857177734375,"y":416,"z":"7f6b6eac.80949","wires":[]},{"id":"c13dce64.3ec23","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"1440","crontab":"","once":true,"x":128.85714721679688,"y":343,"z":"7f6b6eac.80949","wires":[["ec507d9c.13af8","abc74e45.5438b"]]},{"id":"65eb19db.9a14e8","type":"rpi-gpio out","name":"","pin":"15","x":661.6904907226562,"y":343.8333435058594,"z":"7f6b6eac.80949","wires":[]},{"id":"d3440e3.f2cbbf","type":"sunrise","name":"","lat":"51.31859","lon":"12.37544","start":"sunrise","end":"sunset","x":67.5,"y":72.71427917480469,"z":"31103c99.ceefc4","wires":[["d594db59.2a6b28"],[]]},{"id":"225e1856.dda1e8","type":"rpi-gpio out","name":"","pin":"16","x":659,"y":305,"z":"7f6b6eac.80949","wires":[]},{"id":"2d0585da.d2fa7a","type":"rpi-gpio out","name":"","pin":"18","x":658,"y":269,"z":"7f6b6eac.80949","wires":[]},{"id":"7b7a9424.84856c","type":"rpi-gpio out","name":"","pin":"22","x":656,"y":229,"z":"7f6b6eac.80949","wires":[]},{"id":"abc74e45.5438b","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"2","randomLast":"5","randomUnits":"seconds","drop":false,"x":256,"y":262,"z":"7f6b6eac.80949","wires":[["ec507d9c.13af8"]]},{"id":"2f34dbb9.d0cb24","type":"exec","command":"python /home/pi/pibrella/starwars.py","append":"","useSpawn":"","name":"StarWars","x":364,"y":1142,"z":"f8613267.079ed","wires":[[],[],[]]},{"id":"93f54b4f.6c0ab8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":193,"y":1142,"z":"f8613267.079ed","wires":[[]]},{"id":"5c5b4b1e.a3a4b4","type":"rpi-pibrella in","name":"","pin":"Red Button","x":190,"y":854,"z":"f8613267.079ed","wires":[["7ba3bacf.845c44","fda14b5d.025eb8"]]},{"id":"7ba3bacf.845c44","type":"rpi-pibrella out","name":"","pin":"Out F","x":395,"y":850,"z":"f8613267.079ed","wires":[]},{"id":"5451981e.abae68","type":"exec","command":"python /home/pi/pibrella/starwars.py","append":"","useSpawn":false,"name":"","x":708,"y":949,"z":"f8613267.079ed","wires":[[],[],[]]},{"id":"fda14b5d.025eb8","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":1,"v2":0}],"checkall":"false","outputs":1,"x":347,"y":919,"z":"f8613267.079ed","wires":[["5451981e.abae68"]]},{"id":"d594db59.2a6b28","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":0,"v2":0},{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":2,"x":245,"y":66,"z":"31103c99.ceefc4","wires":[["1bbb8cd7.e44473"],[]]},{"id":"1bbb8cd7.e44473","type":"exec","command":"df -hl | awk '/^\\/dev\\/root/ { sum+=$5 } END { print sum }'","append":"","useSpawn":"","name":"FreeSpace","x":406,"y":60,"z":"31103c99.ceefc4","wires":[["146c19b0.eb93e6"],[],[]]},{"id":"612326d6.9edcd8","type":"debug","name":"","active":false,"console":"false","complete":"true","x":791,"y":397,"z":"31103c99.ceefc4","wires":[]},{"id":"5765f266.a89a0c","type":"template","name":"Good Night","field":"payload","template":"Ein langer Tag geht vorbei. Die Systeme laufen innerhalb normaler Parameter.\nDie Festeplatte ist mit {{payload}}% in Benutzung.\n\nFalles etwas ungewöhliches passiert, weck ich Dich.\nGute Nacht!","x":750,"y":47,"z":"31103c99.ceefc4","wires":[[]]},{"id":"2a495ba5.d5b6a4","type":"rpi-pibrella in","name":"Black","pin":"In A","x":200,"y":193,"z":"f8613267.079ed","wires":[["1f947594.e06b8a"]]},{"id":"6e72c285.918d3c","type":"rpi-pibrella in","name":"Gray","pin":"In B","x":199,"y":297,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123"]]},{"id":"a447a391.5bb86","type":"function","name":"Black","func":"msg.black = msg.payload + 1;\n\nreturn msg;","outputs":"1","x":574,"y":187,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"146c19b0.eb93e6","type":"function","name":"Merge","func":"msg.space = msg.payload;\nreturn msg;","outputs":1,"x":577,"y":47,"z":"31103c99.ceefc4","wires":[["5765f266.a89a0c"]]},{"id":"3b654679.c49aba","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"60","crontab":"","once":true,"x":314,"y":398,"z":"31103c99.ceefc4","wires":[[]]},{"id":"8451857d.7bae78","type":"http request","name":"RSS","method":"GET","url":"http://aphorismen-archiv.de/rss.xml","x":476,"y":397,"z":"31103c99.ceefc4","wires":[["401ccc95.bfe334"]]},{"id":"401ccc95.bfe334","type":"function","name":"XML ","func":"msg.payload = msg.payload.rss.channel[0].description;\n\nreturn msg;","outputs":1,"x":638,"y":397,"z":"31103c99.ceefc4","wires":[["612326d6.9edcd8"]]},{"id":"a1cc9c15.5e336","type":"inject","name":"Tor","topic":"","payload":"black","payloadType":"string","repeat":"60","crontab":"","once":true,"x":201,"y":123,"z":"f8613267.079ed","wires":[["1f947594.e06b8a"]]},{"id":"296332c7.d69cce","type":"debug","name":"","active":false,"console":"false","complete":"true","x":859,"y":174,"z":"f8613267.079ed","wires":[]},{"id":"50a01bab.af5fe4","type":"function","name":"Gray","func":"msg.gray = msg.payload + 1;\n\nreturn msg;","outputs":"1","x":571,"y":306,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"f82aa5c8.07d558","type":"inject","name":"Tor","topic":"","payload":"","payloadType":"none","repeat":"120","crontab":"","once":true,"x":204,"y":363,"z":"f8613267.079ed","wires":[["1d8edcfa.e27123"]]},{"id":"62822d.ff9d7dd4","type":"firebase modify","name":"","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer","child":"","method":"update","x":884,"y":251,"z":"f8613267.079ed","wires":[]},{"id":"1e98a742.e16759","type":"function","name":"Merge","func":"if(msg.black) {\n msg.payload = {\"black\": msg.black}\n}\nif(msg.gray) {\n msg.payload = {\"gray\": msg.gray}\n}\n\nreturn msg;\n","outputs":"1","x":710,"y":251,"z":"f8613267.079ed","wires":[["296332c7.d69cce","62822d.ff9d7dd4"]]},{"id":"1f947594.e06b8a","type":"firebase query","name":"Black","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/black","child":"","x":402,"y":187,"z":"f8613267.079ed","wires":[["a447a391.5bb86"]]},{"id":"1d8edcfa.e27123","type":"firebase query","name":"Gray","firebaseurl":"https://vivid-fire-2266.firebaseio.com/soccer/gray","child":"","x":399,"y":303,"z":"f8613267.079ed","wires":[["50a01bab.af5fe4"]]},{"id":"a0d128de.5f2ed8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":653,"y":133,"z":"7f6b6eac.80949","wires":[]},{"id":"4c62a807.b39d58","type":"exec","command":"/opt/vc/bin/vcgencmd measure_temp","append":"","useSpawn":"","name":"CPU Temp","x":252,"y":168,"z":"31103c99.ceefc4","wires":[[],[],[]]}]