server/home/pi/.node-red/flows_foosball.json
[{"type":"tab","id":"f8613267.079ed","label":"Goals"},{"type":"tab","id":"a1fba292.5e046","label":"Buttons"},{"type":"tab","id":"244c170f.dbb3e8","label":"Events"},{"type":"tab","id":"d744c298.28bb4","label":"Deploy"},{"id":"6e208d60.91df74","type":"subflow","name":"Event push","in":[{"x":60,"y":100,"wires":[{"id":"1a14f7d4.e5eb08"}]}],"out":[]},{"id":"fcb2c0e8.034d4","type":"twitter-credentials","screen_name":"@vergissberlin"},{"id":"246dc504.db923a","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"foosball"},{"id":"6e649feb.919b6","type":"firebase login","appid":"vivid-fire-2266","uid":"","secret":"","email":"andre@andrelademann.de","password":"anger77"},{"id":"a447a391.5bb86","type":"function","name":"totalOne","func":"msg.totalOne = msg.payload + 1;\ncontext.global.undo = { 'totalOne': msg.payload };\n\nreturn msg;","outputs":"1","x":995.5,"y":180,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"a1cc9c15.5e336","type":"inject","name":"Goal","topic":"","payload":"teamOne","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":120,"z":"f8613267.079ed","wires":[["5d535e9d.a2aca"]]},{"id":"296332c7.d69cce","type":"debug","name":"","active":false,"console":"false","complete":"true","x":1330,"y":140,"z":"f8613267.079ed","wires":[]},{"id":"50a01bab.af5fe4","type":"function","name":"totalTwo","func":"msg.totalTwo = msg.payload + 1;\ncontext.global.undo = { 'totalTwo': msg.payload };\n\n\nreturn msg;","outputs":"1","x":995.5,"y":300,"z":"f8613267.079ed","wires":[["1e98a742.e16759"]]},{"id":"f82aa5c8.07d558","type":"inject","name":"Goal","topic":"teamTwo","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":360,"z":"f8613267.079ed","wires":[["77e34121.881cc"]]},{"id":"62822d.ff9d7dd4","type":"firebase modify","name":"","firebaselogin":"6e649feb.919b6","firebasepath":"total","child":"","method":"update","x":1358.5,"y":240,"z":"f8613267.079ed","wires":[]},{"id":"1e98a742.e16759","type":"function","name":"Merge total","func":"if(msg.totalOne) {\n msg.payload = {\"totalOne\": msg.totalOne}\n}\nif(msg.totalTwo) {\n msg.payload = {\"totalTwo\": msg.totalTwo}\n}\n\nreturn msg;\n","outputs":"1","x":1184.5,"y":240,"z":"f8613267.079ed","wires":[["296332c7.d69cce","62822d.ff9d7dd4"]]},{"id":"1f947594.e06b8a","type":"firebase query","name":"totalOne","firebaselogin":"6e649feb.919b6","firebasepath":"total/totalOne","child":"","x":835.5,"y":180,"z":"f8613267.079ed","wires":[["a447a391.5bb86","65cd7eff.9a328"]]},{"id":"1d8edcfa.e27123","type":"firebase query","name":"totalTwo","firebaselogin":"6e649feb.919b6","firebasepath":"total/totalTwo","child":"","x":835.5,"y":300,"z":"f8613267.079ed","wires":[["50a01bab.af5fe4","65cd7eff.9a328"]]},{"id":"65cd7eff.9a328","type":"debug","name":"","active":false,"console":"false","complete":"false","x":989,"y":240,"z":"f8613267.079ed","wires":[]},{"id":"bb05ed54.44fa1","type":"comment","name":"Goals","info":"todo:\n- additional data in database\n\t- weather\n\t- wind\n\t- sun\n- Events\n\t- hit count/1000\n\t- Mounsterkill","x":110,"y":60,"z":"f8613267.079ed","wires":[]},{"id":"26152a67.d9ead6","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":832,"y":240,"z":"f8613267.079ed","wires":[["65cd7eff.9a328"]]},{"id":"6f5f84ec.90a07c","type":"function","name":"mysql one","func":"// insert score\nmsg.topic = 'INSERT INTO `foosball`.`score` (`type`, `created_at`) VALUES (\"teamOne\", NOW());';\nreturn msg;\n","outputs":1,"x":681,"y":220,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"a5d24abd.5a2db8","type":"function","name":"mysql two","func":"// insert score\nmsg.topic = 'INSERT INTO `foosball`.`score` (`type`, `created_at`) VALUES (\"teamTwo\", NOW());';\nreturn msg;\n","outputs":1,"x":680,"y":260,"z":"f8613267.079ed","wires":[["26152a67.d9ead6"]]},{"id":"663e0ae4.99c1f4","type":"inject","name":"undo","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":202.42857360839844,"y":223.4285707473755,"z":"a1fba292.5e046","wires":[["f582e48e.0a7d18","1c1c3429.e3e3cc"]]},{"id":"f582e48e.0a7d18","type":"function","name":"undo function","func":"if(typeof context.global.undo === 'object') {\n\tmsg.payload = context.global.undo;\n\tdelete context.global.undo;\n\treturn msg;\n}\n","outputs":1,"x":397.42857360839844,"y":157.4285707473755,"z":"a1fba292.5e046","wires":[["30c3a462.cf3c5c","428f2e72.bd70d"]]},{"id":"30c3a462.cf3c5c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":623,"y":100,"z":"a1fba292.5e046","wires":[]},{"id":"d3570d1f.2ca8f","type":"comment","name":"Undo","info":"- Undo counting last score on game and total scores once\n- Play sound \"zonk\"","x":150,"y":120,"z":"a1fba292.5e046","wires":[]},{"id":"428f2e72.bd70d","type":"firebase modify","name":"","firebaselogin":"6e649feb.919b6","firebasepath":"team","child":"","method":"update","x":632.4285736083984,"y":157.4285707473755,"z":"a1fba292.5e046","wires":[]},{"id":"1c1c3429.e3e3cc","type":"function","name":"undo mysql","func":"// delete last inserted id\nmsg.topic = 'DELETE FROM foosball.score WHERE score.id=LAST_INSERT_ID();';\n\nreturn msg;","outputs":1,"x":393.42857360839844,"y":223.4285707473755,"z":"a1fba292.5e046","wires":[["62210610.9ddef8"]]},{"id":"7d2b8f04.82d47","type":"debug","name":"","active":false,"console":"false","complete":"false","x":771.4285736083984,"y":223.4285707473755,"z":"a1fba292.5e046","wires":[]},{"id":"62210610.9ddef8","type":"mysql","mydb":"246dc504.db923a","name":"MySQL","x":608.4285736083984,"y":223.4285707473755,"z":"a1fba292.5e046","wires":[["7d2b8f04.82d47"]]},{"id":"7867cd3d.879834","type":"comment","name":"New game","info":"- Reset team scores\n- Start game event listener","x":153.42855834960938,"y":320.4285831451416,"z":"a1fba292.5e046","wires":[]},{"id":"4b638170.b49c8","type":"comment","name":"Ring the bell","info":"- Rings a bell (sound)\n- Send a chat message (XMPP)\n- Send a notification on chrome browsers\n- Do not count score until \"new game\" button is pressed","x":158.42857142857142,"y":599.9999999999999,"z":"a1fba292.5e046","wires":[]},{"id":"27158ab6.d8ea76","type":"firebase query","name":"teamOne","firebaselogin":"6e649feb.919b6","firebasepath":"team/teamOne","child":"","x":838,"y":120,"z":"f8613267.079ed","wires":[["de07f793.21f808"]]},{"id":"1d430e0b.e2bcf2","type":"rpi-gpio in","name":"Button red","pin":"13","intype":"up","read":false,"x":192.75,"y":157.25,"z":"a1fba292.5e046","wires":[["1c1c3429.e3e3cc","f582e48e.0a7d18"]]},{"id":"de07f793.21f808","type":"function","name":"teamOne","func":"// Undo\ncontext.global.undo = {\n\tteamOne: msg.payload\n\t};\n\n// Game started?\nif(typeof context.global.game === 'undefined') {\n  return [null,null];\n} \n\n// Score\nif(msg.payload < 10 && context.global.game.running) {\n\tmsg.teamOne = msg.payload + 1;\n\treturn [ null, msg ];\n} else {\n\tcontext.global.game = {running: false};\n\treturn [ msg, null];\n}\n","outputs":"2","x":1004.4999923706055,"y":119.74999809265137,"z":"f8613267.079ed","wires":[[],["19cf4336.e630bd"]]},{"id":"19cf4336.e630bd","type":"function","name":"Merge team","func":"if(msg.teamOne) {\n msg.payload = {\"teamOne\": msg.teamOne}\n}\nif(msg.teamTwo) {\n msg.payload = {\"teamTwo\": msg.teamTwo}\n}\n\nreturn msg;\n","outputs":1,"x":1627,"y":240,"z":"f8613267.079ed","wires":[["6e577cce.91a884","f7293668.08d6c8"]]},{"id":"6e577cce.91a884","type":"firebase modify","name":"","firebaselogin":"6e649feb.919b6","firebasepath":"team","child":"","method":"update","x":1818.5,"y":240,"z":"f8613267.079ed","wires":[]},{"id":"f7293668.08d6c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1809,"y":140,"z":"f8613267.079ed","wires":[]},{"id":"19b603d8.e649fc","type":"comment","name":"Event notifications","info":"- Under table (10:0 || 0:10)\n- Break thru (totalOne || totalTwo) % 1000","x":177.14285714285714,"y":107.14285714285714,"z":"244c170f.dbb3e8","wires":[]},{"id":"4215209a.bdeae","type":"firebase query","name":"teamTwo","firebaselogin":"6e649feb.919b6","firebasepath":"team/teamTwo","child":"","x":838,"y":360,"z":"f8613267.079ed","wires":[["6aa7c969.955838"]]},{"id":"e4200155.1be","type":"firebase watch","name":"team","firebaselogin":"6e649feb.919b6","firebasepath":"team","x":150,"y":300,"z":"244c170f.dbb3e8","wires":[["628c6e41.9d739","2d7143c1.d28ebc"]]},{"id":"628c6e41.9d739","type":"debug","name":"","active":false,"console":"false","complete":"false","x":350,"y":360,"z":"244c170f.dbb3e8","wires":[]},{"id":"6aa7c969.955838","type":"function","name":"teamTwo","func":"// Undo\ncontext.global.undo = {\n\tteamTwo: msg.payload\n\t};\n\n// Game started?\nif(typeof context.global.game === 'undefined') {\n  return [null,null];\n}\n\n// Score\nif(msg.payload < 10 && context.global.game.running) {\n\tmsg.teamTwo = msg.payload + 1;\n\treturn [ msg, null ];\n} else {\n\tcontext.global.game = {running: false};\n\treturn [ null, msg ];\n}\n","outputs":"2","x":998,"y":360,"z":"f8613267.079ed","wires":[["19cf4336.e630bd"],[]]},{"id":"d5c1ea42.2a3e18","type":"rpi-gpio in","name":"","pin":"16","intype":"up","read":false,"x":110,"y":200,"z":"f8613267.079ed","wires":[["6fe851d9.9017b","84265b82.7bd9a8"]]},{"id":"3c5651ec.c3a9ae","type":"comment","name":"Team","info":"","x":145,"y":229.99999904632568,"z":"244c170f.dbb3e8","wires":[]},{"id":"2d7143c1.d28ebc","type":"function","name":"EventTeam","func":"var \n  teamOne = parseInt(msg.payload.teamOne),\n  teamTwo = parseInt(msg.payload.teamTwo);\n\n// Near under table\nif((teamOne === 9 || teamTwo === 9) && \n(teamOne === 0 || teamTwo === 0)){\n\tmsg.payload.event = 'nearUnderTable';\n}\n\n// Under table\nif((teamOne === 10 || teamTwo === 10) && \n(teamOne === 0 || teamTwo === 0)){\n\tmsg.payload.event = 'underTable';\n}\n\n// Game over\n\n// Under table\nvar over = null;\nif(teamOne === 10 || teamTwo === 10){\n\tover = msg;\n}\n\nreturn [msg,over];\n\n// Quick goal\n/*\n- Save time game started\n- Save time last goal\n- if(((lastGoalTime || goalStartTime) - goalNowTime) < 20 sec)\n*/\n\n// Catching up\n/*\n- if(Math.abs(teamOne - teamTwo) > 5): start watching\n- Every Goal: if((Math.abs(teamOne - teamTwo) === 0): msg.catchingUp\n*/\n\n","outputs":"2","x":367,"y":300,"z":"244c170f.dbb3e8","wires":[["ce63c1db.319c4"],["73cadd8.f8c3524"]]},{"id":"ce63c1db.319c4","type":"switch","name":"EventSwitch","property":"payload.event","rules":[{"t":"eq","v":"nearUnderTable"},{"t":"eq","v":"underTable"},{"t":"eq","v":"catchUp"}],"checkall":"false","outputs":3,"x":627,"y":300,"z":"244c170f.dbb3e8","wires":[["a1f9a2dd.5e066","a0370b90.5fc8f8"],["a1f9a2dd.5e066"],["a1f9a2dd.5e066"]]},{"id":"a1f9a2dd.5e066","type":"debug","name":"","active":false,"console":"false","complete":"false","x":910,"y":220,"z":"244c170f.dbb3e8","wires":[]},{"id":"a0dd9714.5f2268","type":"comment","name":"Total","info":"","x":150,"y":440,"z":"244c170f.dbb3e8","wires":[]},{"id":"6be69313.94196c","type":"firebase watch","name":"totalOne","firebaselogin":"6e649feb.919b6","firebasepath":"total/totalOne","x":152,"y":500,"z":"244c170f.dbb3e8","wires":[["d9005804.26ffa8","5715ac9b.a8ea54"]]},{"id":"d9005804.26ffa8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":368,"y":560,"z":"244c170f.dbb3e8","wires":[]},{"id":"5715ac9b.a8ea54","type":"function","name":"EventTotal","func":"// Break thru 1000\nif(parseInt(msg.payload) % 1000  === 0){\n  msg.payload = {\n    team: 'one',\n    score: msg.payload,\n    event: 'break1000'\n  };\n} else \n\n// Break thru 1000\nif(parseInt(msg.payload) % 100  === 0){\n  msg.payload.event = 'break100';\n} else {\n  msg.payload.event = null;\n}\n\nreturn msg;\n","outputs":1,"x":362.5,"y":500,"z":"244c170f.dbb3e8","wires":[["e762d39.f189d3","fbfdf424.040208"]]},{"id":"e762d39.f189d3","type":"switch","name":"EventSwitch","property":"payload.event","rules":[{"t":"eq","v":"teamOneBreak1000"},{"t":"eq","v":"teamTwoBreak1000"},{"t":"nnull"}],"checkall":"false","outputs":3,"x":627,"y":560,"z":"244c170f.dbb3e8","wires":[["d31bbb3e.2ce448"],[],["80fc3bd4.7f03c8"]]},{"id":"fbfdf424.040208","type":"debug","name":"","active":true,"console":"false","complete":"false","x":628,"y":500,"z":"244c170f.dbb3e8","wires":[]},{"id":"d31bbb3e.2ce448","type":"template","name":"Break1000","field":"payload","template":"Hey ho!\n\nDie tausender Marke wurde durchbrochen!\nThis is the payload: {{payload}}!\n\n\n--- \nNRsoccer","x":862.5,"y":500,"z":"244c170f.dbb3e8","wires":[["a0370b90.5fc8f8"]]},{"id":"c07d3626.3f82c8","type":"firebase watch","name":"totalTwo","firebaselogin":"6e649feb.919b6","firebasepath":"total/totalTwo","x":152,"y":640,"z":"244c170f.dbb3e8","wires":[["d539ff36.2ac6","dfad772b.205288"]]},{"id":"d539ff36.2ac6","type":"debug","name":"","active":false,"console":"false","complete":"false","x":368,"y":700,"z":"244c170f.dbb3e8","wires":[]},{"id":"a0370b90.5fc8f8","type":"http request","name":"MonsterKill","method":"GET","url":"http://lampen.nr","x":1263.5,"y":320,"z":"244c170f.dbb3e8","wires":[[]]},{"id":"2fa1d6b6.d05e2a","type":"comment","name":"Events","info":"","x":1250,"y":260,"z":"244c170f.dbb3e8","wires":[]},{"id":"dfad772b.205288","type":"function","name":"EventTotal","func":"// Break thru 1000\nif(parseInt(msg.payload) % 1000  === 0){\n  msg.payload.event = 'break1000';\n} else \n\n// Break thru 1000\nif(parseInt(msg.payload) % 100  === 0){\n  msg.payload.event = 'break100';\n} else {\n  msg.payload.event = null;\n}\n\nreturn msg;\n","outputs":1,"x":362.5,"y":640,"z":"244c170f.dbb3e8","wires":[["e762d39.f189d3"]]},{"id":"c8d489c1.372b78","type":"template","name":"Break100","field":"payload","template":"This is the payload: {{payload}}!","x":858.5,"y":580,"z":"244c170f.dbb3e8","wires":[[]]},{"id":"3fd046e1.c02fba","type":"inject","name":"new game","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":198,"y":420,"z":"a1fba292.5e046","wires":[["4fb17b32.b04e84","caa0a40.f355f6"]]},{"id":"e18e1886.1e71e8","type":"rpi-gpio in","name":"Button green","pin":"11","intype":"up","read":false,"x":186,"y":360,"z":"a1fba292.5e046","wires":[["4fb17b32.b04e84","caa0a40.f355f6"]]},{"id":"9704bd95.68fb4","type":"firebase query","name":"Team (get)","firebaselogin":"6e649feb.919b6","firebasepath":"team","child":"","x":604,"y":360,"z":"a1fba292.5e046","wires":[["ea9896f2.156768"]]},{"id":"2f2fc33b.d0d03c","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":190,"y":720,"z":"a1fba292.5e046","wires":[["410679e.fbef988"]]},{"id":"410679e.fbef988","type":"function","name":"Multiple","func":"msg.payload = 'Ring Ring';\nreturn msg;","outputs":"1","x":372.5,"y":660,"z":"a1fba292.5e046","wires":[["b455831e.4baa8"]]},{"id":"a354baf4.5cab48","type":"rpi-gpio in","name":"Button blue","pin":"15","intype":"up","read":false,"x":180.5,"y":660,"z":"a1fba292.5e046","wires":[["410679e.fbef988"]]},{"id":"71477b17.8eb884","type":"rpi-gpio out","name":"LED","pin":"7","set":false,"out":"out","x":590,"y":420,"z":"a1fba292.5e046","wires":[]},{"id":"cd4561c2.32baa","type":"rpi-gpio out","name":"LED","pin":"7","x":1250,"y":440,"z":"244c170f.dbb3e8","wires":[]},{"id":"ea9896f2.156768","type":"function","name":"reset","func":"context.global.game = {running: true};\n\ncontext.global.undo = { \n\t'teamOne': msg.payload.teamOne,\n\t'teamTwo': msg.payload.teamTwo\n};\n\nmsg.payload = {\n\t'teamOne': 0, \n\t'teamTwo': 0\n}\n\nreturn msg;\n","outputs":1,"x":770,"y":360,"z":"a1fba292.5e046","wires":[["4a7b1717.b584e8","f5697d85.0a968"]]},{"id":"4a7b1717.b584e8","type":"firebase modify","name":"Team (reset)","firebaselogin":"6e649feb.919b6","firebasepath":"team","child":"","method":"set","x":942,"y":360,"z":"a1fba292.5e046","wires":[]},{"id":"73cadd8.f8c3524","type":"function","name":"Turn off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"x":613.5,"y":360,"z":"244c170f.dbb3e8","wires":[["cd4561c2.32baa"]]},{"id":"9af804bd.6507f8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":610,"y":480,"z":"a1fba292.5e046","wires":[]},{"id":"4fb17b32.b04e84","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":1,"x":390,"y":360,"z":"a1fba292.5e046","wires":[["9704bd95.68fb4","71477b17.8eb884","9af804bd.6507f8","f3194c41.0ce6b"]]},{"id":"97fa6aaa.680598","type":"inject","name":"GIT commit","topic":"Deploy","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":177.5,"y":140,"z":"d744c298.28bb4","wires":[["32bff542.cd400a"]]},{"id":"27bfcd7f.d84032","type":"debug","name":"","active":true,"console":"false","complete":"false","x":729,"y":140,"z":"d744c298.28bb4","wires":[]},{"id":"32bff542.cd400a","type":"exec","command":"sudo -u pi sh ~/foosball/scripts/deploy.sh","append":"","useSpawn":false,"name":"deploy.sh","x":458.5,"y":140,"z":"d744c298.28bb4","wires":[[],["27bfcd7f.d84032"],[]]},{"id":"caa0a40.f355f6","type":"debug","name":"","active":false,"console":"false","complete":"false","x":388,"y":420,"z":"a1fba292.5e046","wires":[]},{"id":"6fe851d9.9017b","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":1,"x":236,"y":200,"z":"f8613267.079ed","wires":[["d189204d.2e76e"]]},{"id":"d189204d.2e76e","type":"delay","name":"limit","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":356,"y":200,"z":"f8613267.079ed","wires":[["5d535e9d.a2aca"]]},{"id":"f1f3f9aa.0e0c08","type":"rpi-gpio in","name":"","pin":"18","intype":"up","read":false,"x":110,"y":280,"z":"f8613267.079ed","wires":[["4171778c.be8e88","84265b82.7bd9a8"]]},{"id":"4171778c.be8e88","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":1,"v2":0}],"checkall":"true","outputs":1,"x":236,"y":280,"z":"f8613267.079ed","wires":[["66475542.99b8ac"]]},{"id":"66475542.99b8ac","type":"delay","name":"limit","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":356,"y":280,"z":"f8613267.079ed","wires":[["77e34121.881cc"]]},{"id":"84265b82.7bd9a8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":269,"y":240,"z":"f8613267.079ed","wires":[]},{"id":"a27333ce.5d8cd","type":"inject","name":"","topic":"GIT pull","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178,"y":218,"z":"d744c298.28bb4","wires":[["b764a78b.489b58"]]},{"id":"b764a78b.489b58","type":"exec","command":"sudo -u pi sh ~/foosball/scripts/pull.sh","append":"","useSpawn":"","name":"pull.sh","x":450,"y":220,"z":"d744c298.28bb4","wires":[[],["27bfcd7f.d84032"],[]]},{"id":"5d535e9d.a2aca","type":"function","name":"Goals status","func":"if(typeof context.global != 'undefined') {\n\tif(typeof context.global.game != 'undefined') {\n\t\tif(typeof context.global.game.running != 'undefined') {\n\t\t\tif(context.global.game.running) {\n\t\t\t\treturn msg;\n\t\t\t}\n\t\t}\n\t}\n}\nreturn null;\n","outputs":1,"x":508,"y":200,"z":"f8613267.079ed","wires":[["6f5f84ec.90a07c","27158ab6.d8ea76","1f947594.e06b8a","b868913c.47977"]]},{"id":"77e34121.881cc","type":"function","name":"Goals status","func":"if(typeof context.global != 'undefined') {\n\tif(typeof context.global.game != 'undefined') {\n\t\tif(typeof context.global.game.running != 'undefined') {\n\t\t\tif(context.global.game.running) {\n\t\t\t\treturn msg;\n\t\t\t}\n\t\t}\n\t}\n}\nreturn null;\n","outputs":1,"x":508,"y":280,"z":"f8613267.079ed","wires":[["a5d24abd.5a2db8","1d8edcfa.e27123","4215209a.bdeae","b868913c.47977"]]},{"id":"221b3da2.dde4c2","type":"inject","name":"","topic":"Restart","payload":"restart","payloadType":"none","repeat":"","crontab":"","once":false,"x":189.5,"y":380,"z":"d744c298.28bb4","wires":[["76436e5f.89bc9"]]},{"id":"76436e5f.89bc9","type":"exec","command":"pm2 restart node-red","append":"","useSpawn":"","name":"NodeRED restart","x":482,"y":380,"z":"d744c298.28bb4","wires":[[],["6de5d7bb.921a28"],[]]},{"id":"6de5d7bb.921a28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":728.5,"y":380,"z":"d744c298.28bb4","wires":[]},{"id":"ffa23f2e.005dc","type":"comment","name":"NodeRED","info":"","x":127.5,"y":321,"z":"d744c298.28bb4","wires":[]},{"id":"de624dd8.219db","type":"comment","name":"GIT","info":"","x":110,"y":80,"z":"d744c298.28bb4","wires":[]},{"id":"b868913c.47977","type":"debug","name":"","active":false,"console":"false","complete":"false","x":509,"y":240,"z":"f8613267.079ed","wires":[]},{"id":"f5697d85.0a968","type":"debug","name":"","active":false,"console":"false","complete":"false","x":941,"y":300,"z":"a1fba292.5e046","wires":[]},{"id":"b455831e.4baa8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":608,"y":660,"z":"a1fba292.5e046","wires":[]},{"id":"1a14f7d4.e5eb08","type":"firebase modify","name":"","firebaselogin":"6e649feb.919b6","firebasepath":"event","child":"","method":"push","x":251,"y":100,"z":"6e208d60.91df74","wires":[]},{"id":"b87d1ee6.4782e","type":"mysql","mydb":"246dc504.db923a","name":"","x":390,"y":160,"z":"6e208d60.91df74","wires":[["cbdd27c9.3422d8"]]},{"id":"7ae29823.851d68","type":"function","name":"Query","func":"// insert event\nmsg.topic = 'INSERT INTO `foosball`.`event` (`type`, `created_at`) VALUES (\"event\", NOW());';\nreturn msg;","outputs":1,"x":230,"y":160,"z":"6e208d60.91df74","wires":[["b87d1ee6.4782e"]]},{"id":"cbdd27c9.3422d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":548,"y":160,"z":"6e208d60.91df74","wires":[]},{"id":"c52cb358.3ad35","type":"subflow:6e208d60.91df74","x":763.5,"y":520,"z":"a1fba292.5e046","wires":[]},{"id":"f3194c41.0ce6b","type":"function","name":"Event msg","func":" msg.payload = {\n    time: Date.now(),\n    type: 'newGame'\n  };\nreturn msg;","outputs":1,"x":601.5,"y":520,"z":"a1fba292.5e046","wires":[["c52cb358.3ad35"]]},{"id":"80fc3bd4.7f03c8","type":"subflow:6e208d60.91df74","x":863.5,"y":640,"z":"244c170f.dbb3e8","wires":[]}]