server/home/pi/.node-red/lib/flows/Music.json
[{"id":"fd952ed5.026ad","type":"rpi-pibrella out","name":"","pin":"Buzzer ","x":655.1428833007812,"y":87.28570556640625,"z":"7f6b6eac.80949","wires":[]},{"id":"8bfb43cb.7404c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.28572082519531,"y":142.14285278320312,"z":"7f6b6eac.80949","wires":[["edcf18ae.1230e8"]]},{"id":"edcf18ae.1230e8","type":"function","name":"Sound","func":"msg.payload = 1;\nreturn msg;\n","outputs":1,"x":465.71429443359375,"y":142.7142791748047,"z":"7f6b6eac.80949","wires":[["ab76259c.5489d8","a0d128de.5f2ed8","fd952ed5.026ad"]]},{"id":"ab76259c.5489d8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":654.8571395874023,"y":179.9999942779541,"z":"7f6b6eac.80949","wires":[]},{"id":"ef9a5a21.1065a8","type":"debug","name":"","active":false,"x":656.857177734375,"y":418,"z":"7f6b6eac.80949","wires":[]},{"id":"c13dce64.3ec23","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"1440","crontab":"","once":false,"x":128.85714721679688,"y":340,"z":"7f6b6eac.80949","wires":[["1bb16711.e44e99"]]},{"id":"65eb19db.9a14e8","type":"rpi-gpio out","name":"","pin":"15","x":657.6904907226562,"y":378.8333435058594,"z":"7f6b6eac.80949","wires":[]},{"id":"225e1856.dda1e8","type":"rpi-gpio out","name":"","pin":"16","x":658,"y":340,"z":"7f6b6eac.80949","wires":[]},{"id":"2d0585da.d2fa7a","type":"rpi-gpio out","name":"","pin":"18","x":657,"y":302,"z":"7f6b6eac.80949","wires":[]},{"id":"7b7a9424.84856c","type":"rpi-gpio out","name":"","pin":"22","x":656,"y":264,"z":"7f6b6eac.80949","wires":[]},{"id":"a0d128de.5f2ed8","type":"rpi-pibrella out","name":"Green","pin":"Green LED","x":653,"y":133,"z":"7f6b6eac.80949","wires":[]},{"id":"1bb16711.e44e99","type":"trigger","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"1","extend":"false","units":"s","name":"","x":411,"y":340,"z":"7f6b6eac.80949","wires":[["7b7a9424.84856c","2d0585da.d2fa7a","225e1856.dda1e8","65eb19db.9a14e8","ef9a5a21.1065a8"]]}]